.qcm .entry-box {
  width: 40%;
  margin-left: 5vw;
}

.qcm .image-response .our-blog-full-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.qcm .list-unstyled {
  margin-left: 5vw;
}

.radio-container {
  margin-left: 5px;
}

.signin .box-contact-inner.section-padding {
  margin-left: 5vw;
  display: flex;
  justify-content: center;
}

.img-signin {
  height: 60vh;
}

.img-signup {
  height: 85vh;
  object-fit: cover;
}

.warning {
  color: #ffecb5;
  margin-bottom: 25px;
}

.error {
  color: red;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}
